:root {
    --anchoCarta: 35px;
    --altoCarta: 55px;
}

.juego {
    border: 5px solid black;
    border-bottom: 30px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    background: rgb(0, 94, 0);
    border-radius: 0 0 50% 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1000px;
    height: 420px;

    & .area {
        display: flex;
    }

    & .area.jugadores {
        justify-content: space-around;
    }

    & .area.cpu {
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }
}

.tablero {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .cartas {
        display: flex;
        justify-content: center;
    }
      
    & .cartas.jugador {
        width: 120px;
        flex-wrap: wrap;
        align-self: center;
    }
}

.tablero.cpu {
    width: 50%;
    padding-bottom: 20px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 0 0 40% 40%;
}

.circulo {
    display: grid;
    justify-content: center;
    border: 2px solid white;
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.nombre {
    font-size: 20px;
    font-family: sans-serif;
    margin: 10px;
    color: white;
}

.carta {
    border: 2px solid black;
    border-radius: 5%;
    height: var(--altoCarta);
    width: var(--anchoCarta);
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 20px;
    box-shadow: 0 0 10px black;
}

.nombre.plantado {
    color: red;
}

.carta.roja {
    color: red;
}

.tablero.jugador2,
.tablero.jugador6 {
    position: relative;
    top: 70px;
}

.tablero.jugador3,
.tablero.jugador5 {
    position: relative;
    top: 110px;
}

.tablero.jugador4 {
    position: relative;
    top: 120px;
}
